* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.home {
  background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;

  .name{
     padding: 180px 0 40px;

  }
  .title {
    font-size: 40px;
    margin-bottom: 30px;
   
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;

    select {
      font-size: 15px;
      font-weight: 700;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      transition: .3s;
    }

    select:hover {
      box-shadow: 0 0 10px #ffffff;
      cursor: pointer;
    }

    .submit {
      background-color: #118dc7;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 30px;
      font-weight: 700;
      margin: 10px 0 40px;
      transition: .3s;
    }

    .submit:hover {
      cursor: pointer;
      box-shadow: 0 0 10px #118dc7;
    }
  }

  .btn {
    background-color: #242424;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 700;
    transition: .3s;
  }

  .btn:hover {
    cursor: pointer;
    color: #118dc7;
  }
}

.login {
  background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;

  .title {
    font-size: 40px;
    padding: 200px 0 40px;
  }

  .form {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 40px;

    .email,
    .pw {
      font-size: 15px;
      padding: 5px;
      border: none;
      border-radius: 5px;
    }

    .button,
    .submit {
      font-size: 15px;
      padding: 5px;
      font-size: 15px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      background-color: #ffffff;
      transition: .3s;
    }

    .button:hover,
    .submit:hover {
      cursor: pointer;
      box-shadow: 0 0 10px #ffffff;
    }
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    button {
      background-color: #242424;
      color: #ffffff;
      border: none;
      font-size: 18px;
      font-weight: 700;
      transition: .3s;

    }

    button:hover {
      cursor: pointer;
      color: #118dc7;
    }

  }


}

.signup{
  background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;

  .title {
    font-size: 40px;
    padding: 200px 0 40px;
  }

  .form {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 40px;

    .email,
    .pw {
      font-size: 15px;
      padding: 5px;
      border: none;
      border-radius: 5px;
    }

    .button,
    .submit {
      font-size: 15px;
      padding: 5px;
      font-size: 15px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      background-color: #ffffff;
      transition: .3s;
    }

    .button:hover,
    .submit:hover {
      cursor: pointer;
      box-shadow: 0 0 10px #ffffff;
    }
  }

}

.setname{
  background-color: #242424;
  width: 100%;
  height: 100vh;
  color: #ffffff;

  .title {
    font-size: 30px;
    padding: 230px 0 40px;
  }

  .form {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 40px;

    .text {
      font-size: 15px;
      padding: 5px;
      border: none;
      border-radius: 5px;
    }

    
    .submit {
      font-size: 15px;
      padding: 5px;
      font-size: 15px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      background-color: #ffffff;
      transition: .3s;
    }

    
    .submit:hover {
      cursor: pointer;
      box-shadow: 0 0 10px #ffffff;
    }
  }

}